*,*::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Futura';
  background-color: #F9F8F8;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 1440px 4767px;
  background-position: center ;
}

main {
  flex-grow: 1;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}