.feedback{
  margin-bottom: 247px;
}

.feedback-box{
  display: flex;
}

.feedback__google-card{
  width: 100%;
  max-width: 460px;
  height: 650px;
}

.feedback__card{
  width: 100%;
  border: 0;
}

.feedback__left{
  width: 100%;
  max-width: 990px;
  padding: 60px 165px 65px;
  background-color: #333;
  background-image: url("../images/big-fish.png");
  background-repeat: no-repeat;
  background-size: 988px 624px;
  background-position: right top;
}

.feedback__content{ 
  width: 360px;
}

.feedback__title{
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.feedback__text{
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.feedback__list{
  width: 100%;
  max-width: 375px;
}

.feedback__name{
  width: 100%;
  margin-bottom: 14px;
  padding: 15px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  border: 0;
  background-color: #fff;
}

.feedback__email{
  width: 100%;
  margin-bottom: 14px;
  padding: 15px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;  
  border: 0;
  background-color: #fff;
}

.feedback__desc{
  width: 100%;
  height: 165px;
  margin-bottom: 30px;
  padding: 17px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  border: 0;
  background-color: #fff;
  resize: none;
}

.feedback__submit{
  display: inline-block;
  padding: 15px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  border: 0;
  background-color: #FFBD54;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }
}